

</style>
<nav class="navbar navbar-expand-lg navbar-dark navbar-default bg-dark container-fluid">
  <a class="navbar-brand text-info ml-3" href="/">Track your charities</a>
  <button class="navbar-toggler bg-light " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

    <div class="pull-left d-flex align-items-right">
      <a href="/donations/new" class="btn btn-default navbar-btn bg-info text-light">
        New Donation
      </a>
      <a href="/profile" class="d-flex mr-4">
        <div class="d-flex flex-column ml-2">
          <span>Derek Ayala</span>
          <small class="text-secondary">Donor</small>
        </div>
      </a>
    </div>
  </div>
</nav>

