

<nav class="navbar navbar-default bg-secondary navbar-fixed-top p-3">
  <div class="container-fluid">
    <div class="">
      <a class="navbar-brand text-light text-center" href="/">My Giving Tracker</a>
    </div>
    <div class="pull-right">
      <a href="/donations/new" class="nav-link btn btn-warning align-self-center ">
        Add Donation</a
      >
    </div>
      <a href="/profile" class="d-flex mr-4">
        <div class="d-flex flex-column ml-2">
          <span>Derek Ayala</span>
          <small class="text-secondary">Donor</small>
  </div>
</nav>


